{% extends 'base.html' %}

{% block content %}
<style>
.row {
    display: inline;
    font-size: 20px;
}
.row>p {
    display: inline;
}
.row>a.inlineA {
    display: inline;
    padding: 0; 
}
.row>a.blockA {
    display: inline;
}
</style>

<h2>Полезные ссылки</h2>
<ul style="margin-bottom: 100px;">
    <li>
        <div class="row">
            <p>SVG иконки: </p> <br>
            <a class="inlineA" href="https://www.flaticon.com/ru/">flaticon.com</a> <br>
            <a class="inlineA" href="https://doka.guide/html/svg/#:~:text=%D0%A1%D0%B0%D0%BC%D1%8B%D0%B9%20%D0%BF%D1%80%D0%BE%D1%81%D1%82%D0%BE%D0%B9%20%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%20%E2%80%94%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D1%8C%20%D1%82%D0%B5%D0%B3,%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8%20%D0%B2%20%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B0%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%82%D0%B0%20src%20.&text=%D0%9F%D1%80%D0%B8%20%D1%82%D0%B0%D0%BA%D0%BE%D0%BC%20%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D0%B5%20%D0%BC%D1%8B%20%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BB%D0%B5%D0%B3%D0%BA%D0%BE%20%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D1%8F%D1%82%D1%8C%20%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%80%D0%B0%D0%BC%D0%B8%20%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8%20%D0%BD%D0%B0%20%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B5">Вставка svg в html</a>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Переключение языка: </p><a class="inlineA" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button">developer.mozilla.org</a> <br>
            <p>Переключение осуществляется через кнопку вверху справа. При выборе языка меняется блок html lang="en-US"</p>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Напоминания есть в viber в заметках. Там можно настроить периодические напоминания. Для включения - ПКМ по заметке</p>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Выбор цвета для фона:</p> <br>
            <a class="blockA" href="https://www.reg.ru/blog/tsvetovaya-palitra-sajta-7-servisov/">7 сервисов для подбора</a> <br>
            <a class="blockA" href="https://color.hailpixel.com/">Поиск оттенков движениями мыши</a> <br>
            <a class="blockA" href="https://mycolor.space/">Генерация наборов цветов для выбранного</a>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Цветовое оформление заметок (codepen):</p> <br>
            <a class="blockA" href="https://codepen.io/vedzzb/pen/KwPvNQj">Разноцветные карты с градиентами</a> <br>
            <a class="blockA" href="https://codepen.io/kristen17/pen/NPKrxBd">Цветной угол из выцветением</a> <br>
            <a class="blockA" href="https://codepen.io/josfabre/pen/GgKpEoL">Градиентная внутренняя тень на карточке</a> <br>
            <a class="blockA" href="https://codepen.io/msriki12/pen/PwYqmBv">Бегающий цветовой контур у карточки. Карточка следит за мышкой</a> <br>
            <a class="blockA" href="https://codepen.io/rudraroyy/pen/YzmZZeX">Бегающий цветовой контур у карточки</a> <br>
            <a class="blockA" href="https://codepen.io/Shook-Nicole/pen/RwzwaLR">Бегающий цветовой контур у карточки</a> <br>
            <a class="blockA" href="https://codepen.io/sonharui/pen/eYwgXGY">Цветной контур карточки с выключением</a> <br>
            <a class="blockA" href="https://codepen.io/Philip-Walsh/pen/vYoyQKP">Карточки с цветной боковой планкой в дневном/ночном режиме</a> <br>
            <a class="blockA" href="https://codepen.io/ESCANOR_CSS/pen/XWvjvVr">Карточки с цветной боковой планкой</a> <br>
            <a class="blockA" href="https://codepen.io/morganmsrn/pen/PoMPqvE">Карточка с градиентными переливами поворачивается за мышкой</a> <br>
            <a class="blockA" href="https://codepen.io/simeydotme/pen/eYXPLEP">На карточке появляется фоновое подсветкая у мыши</a>
        </div>
    </li>
    <li>
        <div class="row">
            <p>NavBar вверху</p> <br>
            <a href="https://codepen.io/Yanis-Ahmidach/pen/jOobGaJ" class="blockA">Nav с ползунком внизу</a> <br>
            <a href="https://codepen.io/Rey98/pen/poqYNMM" class="blockA">Nav</a>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Search поле</p> <br>
            <a href="https://codepen.io/huange/pen/bGqMqM" class="blockA">Обычная строка поиска</a> <br>
            <a href="https://codepen.io/gungorbudak/pen/ooKNpz" class="blockA">Обычная строка поиска</a> <br>
            <a href="https://codepen.io/kmuenster/pen/XWWeQGw" class="blockA">Обычная строка поиска</a> <br>
            <a href="https://codepen.io/iamyahoo/pen/mVLNqY" class="blockA">Строка поиска с выпадающим списком и фильтром</a> <br>
            <a href="https://codepen.io/gbphelps/pen/yLNGjpO" class="blockA">Строка поиска с автоматическим вводом текста (скриптом)</a>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Кнопки</p> <br>
            <a href="https://codepen.io/davidboothe/pen/zxOKrvw" class="blockA">4 вида кнопок</a> <br>
            <a href="https://codepen.io/HanGPIIIErr/pen/oNKOjQJ" class="blockA">9 кнопок</a> <br>
            <a href="https://codepen.io/Athul369/pen/XWLxyvx" class="blockA">Переключатель</a>
            <a href="https://ru.stackoverflow.com/questions/1082749/%D0%9A%D0%B0%D0%BA-%D0%B2%D1%8B%D0%BA%D0%BB%D1%8E%D1%87%D0%B8%D1%82%D1%8C-input-type-radio" class="blockA">
                Радиокнопки сос рабатыванием на других объектах
            </a>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Формы</p> <br>
            <a href="https://codepen.io/t_herper/pen/bNGVodN" class="blockA">Форма регистрации с автозаполнением, кнопками submit и reset, а также блоками error</a> <br>
            <a href="https://codepen.io/M-Niloy/pen/qEBdEaV" class="blockA">Простая форма, с обыкновенным css. Подойдет для модалок</a> <br>
            <a href="https://codepen.io/M-Niloy/pen/ZYEYded" class="blockA">Форма адреса с автозаполнением</a>
        </div>
    </li>
    <li>
        <div class="row">
            <p>Пробелы между inline элементами</p>
            <a href="https://htmlacademy.ru/blog/css/fighting-the-space-between-inline-block-elements">htmlacademy.ru</a>
        </div>
    </li>

</ul>
{% endblock content %}