{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="auth-page">
    <div class="title">
        <p>Авторизация</p>
    </div>
    <div class="switch-link">
        <p>Перейти на страницу <a href="{% url 'registration_url' %}">Регистрации</a></p>
    </div>
    <form id="authorizationForm">
        <div class="form-field">
            <label for="username">Логин</label>
            <input type="text" name="username" id="username" autocomplete="off" value="">
            <div class="error">Invalid value.</div>
        </div>
        <div class="form-field">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" autocomplete="new-password" value="">
            <div class="error">Invalid value.</div>
        </div>
        <button>Войти</button>
    </form>
</div>

<script type="module" src="{% static 'js/login.js' %}"></script>
{% endblock content %}