{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="notice-content">
    <div class="title">
        <p class="blockName">Theme: </p>
        <div class="theme">
        </div>
        <div class="menu">
            <div class="menu-item editor">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                </svg>
            </div>
            <div class="menu-item cross">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512.021 512.021" xml:space="preserve">
                    <path d="M301.258,256.01L502.645,54.645c12.501-12.501,12.501-32.769,0-45.269c-12.501-12.501-32.769-12.501-45.269,0l0,0   L256.01,210.762L54.645,9.376c-12.501-12.501-32.769-12.501-45.269,0s-12.501,32.769,0,45.269L210.762,256.01L9.376,457.376   c-12.501,12.501-12.501,32.769,0,45.269s32.769,12.501,45.269,0L256.01,301.258l201.365,201.387   c12.501,12.501,32.769,12.501,45.269,0c12.501-12.501,12.501-32.769,0-45.269L301.258,256.01z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="date-info">
        <div class="once-date" style="display: none;">
            <p>Режим: <span id="once-notice-mode"></span></p>
            <p>Дата: <span id="once-notice-date"></span></p>
            <p>Время: <span id="once-notice-time"></span></p>
        </div>
        <div class="periodic-date" style="display: none;">
            <p>Режим: <span id="periodic-notice-mode"></span></p>
            <p>Период: <span id="periodic-notice-period"></span></p>
            <p>Следующая дата: <span id="periodic-notice-date"></span></p>
            <p>Время: <span id="periodic-notice-time"></span></p>
        </div>
    </div>
    <div class="description" id="description" style="min-height: 50px;"></div>
    <div class="content" id="content">
        <!-- Картинки вставляются в блок content для совместимости с record -->
    </div>
    <div class="creation-area">
        <div class="creation-area-block">
            <button class="create-button" id="AddImagesBtn">Сохранить картинки</button>
        </div>
    </div>
</div>

<div class="modal-block modal-content" id="modalBlock">
    <div class="global-shadow" id="globalShadow">
        {% include 'frontend/inc/modals/_modal_notice.html' %}
    </div>
</div>

<script type="module" src="{% static 'js/notice.js' %}"></script>
{% endblock content %}