{% load static %}

<div class="header">
    <div class="header-row">
        <div class="header-fields" id="sections">
            <div class="header-field" id="noteSection">
                <div class="header-field-title">
                    Заметки
                </div>
            </div>
            <div class="header-field" id="noticeSection">
                <div class="header-field-title">
                    Напоминания
                </div>
            </div>
        </div>
        <div class="header-settings">
            <a href="{% url 'settings_url' %}">Настройки</a>
            <a id="loginBTN" href="{% url 'registration_url' %}" style="display: none;">Войти</a>
            <a id="logoutBTN" href="{% url 'login_url' %}" style="display: none;">Выйти</a>
        </div>
    </div>
    <hr>
</div>

<script type="module" src="{% static 'js/header.js' %}"></script>
<script type="module" src="{% static 'js/header-auth.js' %}"></script>
