:root {
    /* --bg-color: #BAE8DF; */
    --bg-color: #c4e9e1;
    --header-sector-color: #6ee0db;
    --header-sector-hover-color: #6ad6d1;
    --header-color: #a8f8dd;
    --obj-color: #abece6;
    --border-color: rgba(1, 104, 172, 0.836);
    --link-color: #0083ee;
    --link-color-hover: #fc3e3e;

    --content-record-color: #bafae5;
    --content-record-border-color: #8bbbab;
    --content-record-header-font-size: 12px;
    --content-images-border-color: rgb(139, 187, 171, .3);
    --content-button-color: #a6eed6;
    --content-button-color-hover: #9aecd1;

    --text-color-danger: #e74444;
    --btn-border-color: rgb(104, 207, 202);
}


body {
    background: rgb(245, 245, 241);
    background-color: var(--bg-color);
    margin: 0;

    p {
        margin: 0px;
    }
}

.white-theme {
    background-color: var(--bg-color);
}

.black-theme {
    background-color:rgb(40, 44, 52);
    color: aliceblue;
}

.header {
    background-color: var(--header-color);
    box-shadow: 0px 5px 20px -15px rgba(34, 60, 80, 0.8);
    user-select: none;

    .header-row {
        margin: 0px 15vw;
        height: 80px;

        .header-fields {
            display: flex;
            width: 100%;
            height: inherit;
            text-align: center;
            align-items: stretch;
            flex-wrap: nowrap;

            .header-field {
                margin-top: 10px;
                margin-left: 5px;
                margin-right: 5px;
                width: 100%;
                cursor: pointer;
                align-items: center;
                display: flex;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.4rem;
                text-decoration: none;
                color: black;
                
                border: 1px none black;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-style: none;
                background-color: var(--header-sector-color);

                &.selected {
                    flex-basis: 130%;
                }
                .header-field-title {
                    width: 100%;
                }
            }
            .header-field:hover {
                color: black;
                background-color: var(--header-sector-hover-color);
            }
        }
    }

    .header-settings {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    >hr {
        margin: 0;
    }
}

.marker {
    height: 15px;
    width: 15px;
    background-color: #b1b1b1;
    border-radius: 50%;
    border: rgb(128, 128, 128) 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;

    &[data-color="none"] {
        background-color: gray;
    }
    &[data-color="green"] {
        background-color: green;
    }
    &[data-color="yellow"] {
        background-color: yellow;
    }
    &[data-color="red"] {
        background-color: red;
    }
}

.content {
    .management-bar {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-top: 16px;

        .search-block {
            position: relative;
            width: 500px;

            .search-bar {
                width: 500px;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                #searchQueryInput {
                    width: 100%;
                    height: 2.8rem;
                    background: #f5f5f5;
                    outline: none;
                    border: none;
                    border-radius: 1.625rem; /*like border-radius #searchQuerySubmit*/
                    padding: 0 3.5rem 0 1.5rem;
                    font-size: 1rem;
                }
                #searchQuerySubmit {
                    width: 3.5rem;
                    height: 2.8rem;
                    margin-left: -3.5rem;
                    background: none;
                    border: none;
                    border-radius: 1.625rem;  /*like border-radius #searchQueryInput*/
                    outline: none;
                }
                #searchQuerySubmit:hover { /* loupe */
                    cursor: pointer;
                }
                svg {
                    width:24px;
                    height:24px
                }
            }
            .dropdown-content { /* drop down search list */
                display: none;
                position: absolute;
                left: 1.5rem;
                background-color: #f6f6f6;
                min-width: 230px;
                width: calc(100% - 1.5rem - 3.5rem); /* like padding #searchQueryInput */
                border: 1px solid #ddd;
                z-index: 1;
    
                a { /* drop down links */
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                a:hover {
                    background-color: #c2bfbf;
                }
            }
        }
        }
    .content-window {
        .folder-path {
            display: inline-block;
            margin-bottom: 7px;

            .path-folder {
                display: inline;
                text-decoration: underline;
                color: var(--link-color);
            }
            .path-folder:hover {
                color: var(--link-color-hover);
                cursor: pointer;
            }
        }
        .dd-object,
        .folder-back {
            min-height: 50px;
            margin-bottom: 10px;
            border: var(--border-color) 1px solid;
            border-radius: 15px;
            background-color: var(--obj-color);
            cursor: pointer;
            user-select: none;

            .block-row {
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                display: flex;
                min-height: 48px;
                flex-wrap: nowrap;

                .coll1 {
                    margin-right: 20px; white-space: nowrap;
                }
                .coll2 {
                    display: flex;
                    align-items: center;
                    margin: 7px 0px;
                    width: 100%;

                    .title {
                        max-width: 100%;

                        p {
                            font-weight: 600;
                            margin: 0;
                        }
                    }
                }
                .coll3 {
                    margin-left: 10px;
                    margin-right: 10px;
                    white-space: nowrap;

                    .labels {
                        display: inline-block;
                        max-height: 100px;
                    }
                }
                .content-svg {
                    vertical-align: baseline;
                    height: 15px;
                    width: 15px
                }
            }
        }
        .folder-back {
            display: flex;
            align-items: center;
            width: 100%;
            font-weight: 600;

            p {
                font-weight: 600;
                margin-left: 10px;
            }
        }
    }
}

.note-content,
.notice-content {
    margin-top: 25px;

    .title {
        display: flex;
        align-items: center;
        
        .blockName {
            font-size: 28px;
            font-weight: 700;
            margin-right: 10px;
        }
        .theme {
            display: inline-block;
            width: 100%;

            input {
                width: 98%;
                border: 0;
                background-color: inherit;
            }
            input:focus {
                border: 0;
                outline: 1px solid var(--content-record-border-color);
            }
        }
        .menu {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-left: 10px;
            
            .menu-item {
                svg {
                    width: 20px;
                    height: 20px;
                    fill: currentColor;
                }
                
                &.editor {
                    cursor: pointer;
                    
                    &:hover {
                        svg {
                            transform: scale(1.2);
                            fill: #ff4545;
                        }
                    }
                }
                
                &.cross {
                    cursor: pointer;
                    
                    &:hover {
                        svg {
                            transform: scale(1.2);
                            fill: #ff4545;
                        }
                    }
                }
            }
        }
        .icon {
            width: 30px;
            height: 30px;
            align-items: center;
            cursor: pointer;

            &:hover {
                fill: #ff4545;
                opacity: .9;
            }
        }
    }
    .description {
        background-color: var(--content-record-color);
        border: 1px solid var(--content-record-border-color);
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 0px 5px 5px 5px;
        text-align: justify;
    }
    .content {

        .record {
            background-color: var(--content-record-color);
            border: 1px solid var(--content-record-border-color);
            border-radius: 10px;
            margin-bottom: 15px;

            .record-header {
                padding: 5px 5px 0px 5px;
                font-size: var(--content-record-header-font-size);
                color: #808080;
                display: flex;

                .checkmark {
                    margin-left: auto;
                    margin-right: 5px;
                    cursor: pointer;
                    width: 8px;
                    display: none;

                    &:hover {
                        transform: scale(1.2);
                        fill: #ff4545;
                    }
                }
                .edit {
                    margin-left: auto;
                    margin-right: 5px;
                    cursor: pointer;
                    width: 8px;

                    &:hover {
                        transform: scale(1.2);
                        fill: #ff4545;
                    }
                }
                .cross {
                    cursor: pointer;
                    width: 8px;

                    &:hover {
                        transform: scale(1.2);
                        fill: #ff4545;
                    }
                }
            }
            hr {
                margin: 1px;
                padding: -5px;

            }
            .record-text {
                padding: 0px 5px 5px 5px;
                text-align: justify;
                
                .record-text-edit {
                    width: 100%;
                    border: none;
                    background: transparent;
                    resize: none;
                    outline: none;
                    font-family: inherit;
                    font-size: inherit;
                    color: inherit;
                    line-height: inherit;
                    padding: 0px 5px 5px 5px;
                    text-align: justify;
                    margin: 0;
                    box-sizing: border-box;
                }
            }
        }
        .images {
            display: flex;
            position: relative;
            max-width: 100%;
            max-height: 300px;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            .slide-direction {
                width: 50px;

                .rectangle {
                    display: flex;
                    vertical-align: middle;
                    align-self: center;
                    width: 100%;
                    height: 100px;
                    background: rgba(0, 0, 0, 0.75);
                    transition: .5s ease;
                    opacity: .5;
                }
                .rectangle:hover {
                    user-select: none;
                    opacity: 1;

                    svg {
                        fill: rgba(255, 255, 255, 0.6);
                        transition: .5s ease;
                    }
                }
            }
            .slider {
                display: inline-block;
                position: relative;
                margin: 0 5px 0 5px;
                height: 300px;
                width: 40%;
                overflow: hidden;
                border: 1px solid var(--content-images-border-color);
                border-radius: 10px;
                transition: height 0.3s ease;

                .image-area {
                    position: absolute;
                    left: 0px;
                    transition: left .2s ease;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    flex-wrap: nowrap;

                    .image {
                        display: inline-block;
                        position: relative;
                        max-width: 200px;
                        max-height: 300px;
                        transition: 
                                max-width 0.5s ease-out,
                                opacity 0.5s ease-out;
    
                        img {
                            display: inline;
                            max-width: 200px;
                            max-height: 300px;
                        }

                        .image-cross {
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            width: 8px;
                            cursor: pointer;
                            z-index: 10;
                            
                            &:hover {
                                transform: scale(1.2);
                                fill: #ff4545;
                                filter: drop-shadow(0 0 0.5px #ff4545);
                            }
                        }
                    }
                }
            }
            .editor {
                position: absolute;
                right: calc(50% - 20% - 5px - 10px);
                top: 5px;
                width: 8px;
                cursor: pointer;
                z-index: 20;
                
                &:hover {
                    transform: scale(1.2);
                    fill: #ff4545;
                }
            }
            .cross {
                position: absolute;
                right: calc(50% - 20% - 5px - 10px - 15px);
                top: 5px;
                width: 8px;
                cursor: pointer;
                z-index: 20;
                
                &:hover {
                    transform: scale(1.2);
                    fill: #ff4545;
                }
            }
        }

    }
    .creation-area {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        .creation-area-block {
            display: flex;
            width: 60%;
            justify-content: space-between;

            button {
                background-color: var(--content-button-color);
                font-weight: 600;
                width: 40%;
                min-height: 45px;
                border: 1.5px solid var(--content-record-border-color);
                border-radius: 10px;
                
                &:hover {
                    background-color: var(--content-button-color-hover);
                }
            }

            &:has(button:only-child) {
                /* Центрирование единственной кнопки внизу */
                justify-content: center;
            }
        }
    }
}

.notice-content {
    margin-top: 25px;

    .title {
        display: flex;
        align-items: center;
        
        .blockName {
            font-size: 28px;
            font-weight: 700;
            margin-right: 10px;
        }
        .theme {
            display: inline-block;
            width: 100%;

            input {
                width: 98%;
                border: 0;
                background-color: inherit;
            }
            input:focus {
                border: 0;
                outline: 1px solid var(--content-record-border-color);
            }
        }
        svg.cross {
            margin-left: 2px;
            display: inline;
            width: 28px;
            fill: red;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.2);
                fill: red;
            }
        }
    }
}
